{%  extends 'base.html.twig' %}
{%  block  body %}
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at beatae cum delectus enim error est et hic illo libero nisi nobis nostrum officia quia, quod reprehenderit sequi sint soluta vitae voluptatibus! Eligendi illum iusto quae. Amet, aut consectetur deleniti illo itaque labore magnam molestiae, nostrum omnis praesentium quidem, quo similique sit suscipit temporibus? At atque, corporis distinctio incidunt nam ratione! Facilis, nihil, ratione?</p>
    </div>
    <connard></connard>
{% endblock %}